<%= render "shared/page", title: "Button Component" do %>
  <h2 class="text-xl font-semibold mb-4">Button Examples</h2>
  <!-- Primary Button Example -->
  <h3 class="text-lg font-semibold mt-4">Primary Button</h3>
  <%= render partial: "shared/button", locals: { text: "Primary Button", status: :primary, disabled: false } %>
  <!-- Secondary Button Example -->
  <h3 class="text-lg font-semibold mt-4">Secondary Button</h3>
  <%= render partial: "shared/button", locals: { text: "Secondary Button", status: :secondary, disabled: false } %>
  <!-- Destructive Button Example -->
  <h3 class="text-lg font-semibold mt-4">Destructive Button</h3>
  <%= render partial: "shared/button", locals: { text: "Destructive Button", status: :destructive, disabled: false } %>
  <!-- Disabled Button Example -->
  <h3 class="text-lg font-semibold mt-4">Disabled Button</h3>
  <%= render partial: "shared/button", locals: { status: :disabled, text: "Disabled Button", disabled: true } %>
<% end %>
