<%= render "shared/page", title: "Toast Component" do %>
  <h2 class="text-xl font-semibold mb-4">Toast Examples</h2>
  <div data-controller="toast">
    <!-- Success Toast Example -->
    <h3 class="text-lg font-semibold mt-4">Success Toast</h3>
    <%= render partial: "shared/toast", locals: { button_text: "Show Success Toast", message: "This is a success toast message!", status: :success } %>
    <!-- Warning Toast Example -->
    <h3 class="text-lg font-semibold mt-4">Warning Toast</h3>
    <%= render partial: "shared/toast", locals: { button_text: "Show Warning Toast", message: "This is a warning toast message!", status: :warning } %>
    <!-- Critical Toast Example -->
    <h3 class="text-lg font-semibold mt-4">Critical Toast</h3>
    <%= render partial: "shared/toast", locals: { button_text: "Show Critical Toast", message: "This is a critical toast message!", status: :critical } %>
    <!-- Info Toast Example -->
    <h3 class="text-lg font-semibold mt-4">Info Toast</h3>
    <%= render partial: "shared/toast", locals: { button_text: "Show Info Toast", message: "This is an informational toast message!", status: :info } %>
    <!-- Neutral Toast Example -->
    <h3 class="text-lg font-semibold mt-4">Neutral Toast</h3>
    <%= render partial: "shared/toast", locals: { button_text: "Show Neutral Toast", message: "This is a neutral toast message!", status: :neutral } %>
  </div>
<% end %>
