<div data-controller="accordion">
  <% items.each_with_index do |item, index| %>
    <div class="bg-surface hover:bg-hover-bg-surface overflow-hidden border-neutral-light 
      <%= 'rounded-t-lg' if index == 0 %> 
      <%= 'rounded-b-lg' if index == items.length - 1 %>">
      <!-- Accordion Heading -->
      <div role="heading" aria-level="3">
        <button 
          type="button"
          role="button"
          class="flex justify-between items-center w-full p-4 text-left bg-surface hover:bg-hoverBg-surface focus:bg-hoverBg-surface focus:outline-none focus:ring-2 focus:ring-primary relative z-10" 
          data-action="click->accordion#toggle"
          aria-expanded="false" 
          aria-controls="accordion-item-<%= item[:id] %>"
          id="accordion-button-<%= item[:id] %>"
          data-accordion-target="button">
          <span class="text-neutral-default"><%= item[:title] %></span>
          <span class="ml-2 text-xs" aria-hidden="true">▼</span>
        </button>
      </div>
      <!-- Accordion Content -->
      <div id="accordion-item-<%= item[:id] %>" 
           role="region" 
           aria-labelledby="accordion-button-<%= item[:id] %>" 
           class="hidden p-4 bg-surface border-t border-neutral-light <%= 'rounded-b-lg' if index == items.length - 1 %>">
        <p class="text-neutral-default"><%= item[:content] %></p>
      </div>
    </div>
  <% end %>
</div>
