<div class="mb-4 flex items-center">
  <input 
    type="checkbox" 
    id="<%= id %>" 
    name="<%= name %>" 
    value="<%= value %>" 
    class="h-4 w-4 text-primary border-neutral-default rounded focus:ring focus:ring-primary"
    <% if checked %> checked <% end %> 
  />
  <% if label.present? %>
    <label for="<%= id %>" class="ml-2 block text-sm font-medium text-neutral">
      <%= label %>
    </label>
  <% end %>
</div>
