<div class="mb-4 flex items-center">
  <input 
    type="radio" 
    id="<%= id %>" 
    name="<%= name %>" 
    value="<%= value %>" 
    class="h-5 w-5 text-primary border-neutral bg-surface
           focus:ring-2 focus:ring-primary focus:ring-offset-0
           hover:border-primary 
           checked:bg-primary checked:hover:bg-primary-dark
           checked:focus:bg-primary checked:focus:ring-primary"
    <% if checked %> checked <% end %> 
  />
  <% if label.present? %>
    <label for="<%= id %>" class="ml-2 block text-sm font-medium text-neutral-default">
      <%= label %>
    </label>
  <% end %>
</div>