<div data-controller="tabs">
  <!-- Tab Navigation -->
  <div class="flex space-x-4 mb-4 border-b-2 border-gray-200">
    <% tabs.each_with_index do |tab, index| %>
      <a href="#" class="tab px-4 py-2 text-gray-600 border-b-2 <%= 'border-blue-500 text-blue-500' if index == 0 %>" data-action="click->tabs#switchTab" data-target="tab-<%= index %>" data-tabs-target="tab">
        <%= tab[:title] %>
      </a>
    <% end %>
  </div>
  <!-- Tab Content -->
  <% tabs.each_with_index do |tab, index| %>
    <div id="tab-<%= index %>" class="tab-content <%= 'hidden' unless index == 0 %> mt-4" data-tabs-target="content">
      <div class="bg-white shadow rounded-lg p-6">
        <%= tab[:content].html_safe %>
      </div>
    </div>
  <% end %>
</div>
