<!DOCTYPE html>
<html>
  <head>
    <title>Equinox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-100">
    <!-- Navbar Component -->
    <%= render 'shared/navbar' %>
    <div class="flex">
      <!-- Sidebar Component -->
      <%= render 'shared/sidebar' %>
      <!-- Main Content -->
      <div class="flex-1 ml-64 p-8">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
